<!DOCTYPE html>
<html lang="en">
	<head>
		{{> page/head}}
	</head>
	<body data-page="{{current_page}}" data-palettes="{{palettes}}" {{#if user}} data-you="{{user.id}}" data-you-slug="{{user.slug}}" {{/if}} data-collection="{{page.collection.id}}" data-collection-slug="{{page.collection.slug}}" data-is-collection-admin="{{is_admin}}">
		<div class="templates" style="display: none;">
			{{> templates}}
		</div>
		<div class="all" {{#if page.user.color}}style="--theme: {{#if page.collection.color}} {{page.collection.color}} {{else}} {{page.user.color}} {{/if}};"{{/if}} {{#if page.collection.color}}style="--theme: {{page.collection.color}};"{{/if}}>
			{{> page/header}}
			<div class="body_wrapper">
				<div class="body layout_width">
					{{{body}}}
					<script src="/js/universal.js"></script>
				</div>
			</div>
		</div>
		<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
	</body>
</html>