
<div class="templates templates_extra" style="display: none;">
	<template class="user_small">
		{{> util/small_user }}
	</template>
</div>

<link rel="stylesheet" href="/css/settings.css">

<a href="/c/{{page.collection.slug}}/" class="anchor">
	<div class="icon_grid">
		<div class="grid_icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
		</div>
		<div class="grid_info">
			Back to collection
		</div>
	</div>
</a>

<div class="settings_wrapper" data-collection-slug="{{page.collection.slug}}">

	<div class="settings_bit">
		<aside class="settings_aside">
			<h2 class="title">Collection settings</h2>
			<hr>
		</aside>
		<main class="settings_options">
			<div class="option input_div">
				<label for="change_title">Title</label>
				<div class="input">
					<input id="change_title" placeholder="Palette collection" value="{{page.collection.title}}">
					<button onclick="set_title(this.closest('.option').querySelector('input').value)">Update</button>
				</div>
			</div>
			<div class="option input_div">
				<label for="change_slug">Slug</label>
				<div class="input">
					<input id="change_slug" placeholder="my-collection" value="{{page.collection.slug}}">
					<button onclick="set_slug(this.closest('.option').querySelector('input').value)">Update</button>
				</div>
			</div>
			<div class="option input_div">
				<label for="change_color">Collection theme</label>
				<div class="input">
					<div class="color_picker_wrapper_alt" style="background: {{#if page.collection.color}}{{page.collection.color}}{{else}}#3d6a7b{{/if}}">
						<input onchange="this.parentNode.style.background = `${this.value}`" id="profile_color" type="color" value="{{#if page.collection.color}}{{page.collection.color}}{{else}}#3d6a7b{{/if}}">
					</div>
					<button onclick="set_color('#3d6a7b')">Reset</button>
					<button onclick="set_color(this.closest('.option').querySelector('input').value)">Update</button>
				</div>
			</div>
			<div class="option input_div">
				<label for="change_description">Description</label>
				<div class="input textarea_input">
					<textarea id="change_description" placeholder="A description to describe your collection" oninput="this.value.trim().length > 240 ? this.value = this.value.trim().slice(0, 240) : null;" maxlength="240">{{get_bio page.collection.description}}</textarea>
					<button onclick="set_bio(this.closest('.option').querySelector('textarea').value)">Update</button>
				</div>
			</div>
		</main>
	</div>

	<div class="settings_bit">
		<aside class="settings_aside">
			<h2 class="title">Members</h2>
			<hr>
		</aside>
		<main class="settings_options member_settings">
			<div class="option input_div">
				<label for="add_member">New member</label>
				<div class="input">
					<input id="add_member" placeholder="jip" onkeyup="if(event.key === 'Enter') add_member(this.value)">
					<button onclick="add_member(this.closest('.option').querySelector('input').value)">Add</button>
				</div>
			</div>
			<div class="member_settings_members all_users">
				...
			</div>
		</main>
	</div>

</div>

<script src="/js/settings/collection_settings.js"></script>